
<div class="container px-4 py-5" id="featured-3">
    <div class="row`">
      <div class="col"><h2>Contact Us!</h2></div>
    </div>
    <div class="row g-2 py-2">
      <div class="col" *ngFor="let user of users">
        <div class="card p-2" style="width: 18rem;">
          <img [src]="user.avatar" alt="{{ user.name }}" class="card-img-top" />
          <h4>{{ user.name }}</h4>
          <p>Email: {{ user.email }}</p>
          <p>Address: {{ user.location.street }}, {{ user.location.city }}, {{ user.location.country }}</p>
        </div>
      </div>
    </div>
  </div>
