
<div class="container px-4 py-5" id="featured-3">
    <div class="row`">
      <div class="col"><h2>Contact Us!</h2></div>
    </div>
    <div class="row g-2 py-2">
      <div class="col" *ngFor="let user of users">
        <div class="card p-2" style="width: 18rem;">
          <img [src]="user.avatar" alt="{{ user.name }}" class="imageFix" />
          <h4>{{ user.name }}</h4>
          <p>Email: {{ user.email }}</p>
          <p>Address: {{ user.location.street }}, {{ user.location.city }}, {{ user.location.country }}</p>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <h4 class="mb-4">Fill free to contact us</h4>
        <form [formGroup]="enquiryForm" (ngSubmit)="submitEnquiry()">
          <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" id="Name" formControlName="name" aria-describedby="NameHelp">
            <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
              <small class="text-danger" *ngIf="name?.errors?.['required']">Name is required.</small>
              <small class="text-danger" *ngIf="name?.errors?.['minlength']">Name must be at least 3 characters long.</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="MobileNumber" class="form-label">Mobile Number</label>
            <input type="number" class="form-control" id="MobileNumber" formControlName="mobileNumber" aria-describedby="MobileNumberHelp">
            <div id="emailHelp" class="form-text">We'll never share your mobile number with anyone else.</div>
            <div *ngIf="mobileNumber?.invalid && (mobileNumber?.dirty || mobileNumber?.touched)">
              <small class="text-danger" *ngIf="mobileNumber?.errors?.['required']">Mobile number is required.</small>
              <small class="text-danger" *ngIf="mobileNumber?.errors?.['pattern']">Mobile number must be 10 digits long.</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="Email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
              <small class="text-danger" *ngIf="email?.errors?.['required']">Email is required.</small>
              <small class="text-danger" *ngIf="email?.errors?.['email']">Email must be a valid email address.</small>
            </div>
          </div>
          <div class="mb-3">
            <label for="enquiryHelp" class="form-label">Enquiry in detail</label>
            <textarea type="text" class="form-control" formControlName="enquiryMessage" id="enquiryHelp" aria-describedby="enquiryHelp"></textarea>
            <div *ngIf="enquiryMessage?.invalid && (enquiryMessage?.dirty || enquiryMessage?.touched)">
              <small class="text-danger" *ngIf="enquiryMessage?.errors?.['required']">Enquiry message is required.</small>
              <small class="text-danger" *ngIf="enquiryMessage?.errors?.['maxlength']">Enquiry message cannot exceed 500 characters.</small>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" type="submit" [disabled]="enquiryForm.invalid">Submit</button>
        </form>
      </div>
    </div>
  </div>
