/* src/app/components/notification-modal/notification-modal.component.scss */
.modal-header.bg-success {
    background-color: #28a745 !important;
  }
  .modal-header.bg-danger {
    background-color: #dc3545 !important;
  }
  .modal-header.bg-warning {
    background-color: #ffc107 !important;
  }
  