<div
  class="modal fade"
  id="notificationModal"
  tabindex="-1"
  aria-labelledby="modalLabel"
  [attr.aria-hidden]="isOpen ? null : 'true'"
  [class.show]="isOpen"
  [style.display]="isOpen ? 'block' : 'none'"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" [ngClass]="modalClass">
        <h5 class="modal-title" id="modalLabel">{{ title }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
