
<main class="main">
  <div class="content">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4">TestApp</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a routerLink="/"  routerLinkActive="active" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a routerLink="/about"  class="nav-link">About Us</a></li>
            <li class="nav-item"><a routerLink="/product"  class="nav-link">Products</a></li>
            <li class="nav-item"><a routerLink="/contact"  class="nav-link">Contact Us</a></li>
          </ul>
        </header>
      </div>
    <router-outlet />
  </div>
</main>

